@font-face {
    font-family: digital-7; /* Имя шрифта */
    src: url(../fonts/digital-7.ttf); /* Путь к файлу со шрифтом */
   }

*{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(95deg, #9578f3, #b97cf7);
}
/*container*/
.container{
  max-width: 1200px;
  margin-left: 20%;

}
.meizu {
  background-image: url(../img/calculator.png);
  height: 737px;
  width: 362px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 38px;
  position: absolute;
  left: 0;
}
.mhn-ui-wrap {
  position: absolute;
  top: 74px;
  z-index: 1;
  left: 15px;
}
.header {
  z-index: 555;
  margin-bottom: 40px;
  position: absolute;
  right: -23px;
  top: -52px;
}
.mhn-ui-page.page-home .header{
  z-index: 555;
  margin-bottom: 40px;
  position: absolute;
  right: -23px;
  top: 0px;
}
.mhn-ui-icon.calculator-icon {
    background-image: url(../img/icon.png);
    /* height: 72px; */
    background-size: 83%;
    background-repeat: no-repeat;
    background-position: 52% -24%;
    border-radius: 10px;
}
.music-icon{
  background-image: url(../img/music.png);
  /* height: 72px; */
  background-size: 83%;
  background-repeat: no-repeat;
  background-position: 52% -24%;
  border-radius: 10px;
}
.mhn-ui-icon span:hover{
    background: none!important;
}
.mhn-ui-page.page-author .header{
  z-index: 555;
  margin-bottom: 40px;
  position: absolute;
  right: -23px;
  top: 0px;
}
.calculator {
    background-color: #26324a;
    height: 490px;
    border-radius: 14px;
    width: 100%;
    padding-top: 20px;
}
.display-calculator {
  height: 145px;
  background-color: #242834;
  margin: 0px 5px 0px 5px;
  border: none;
  text-align: right;
  padding: 0px 0px 0px 0px;
  color: white;
  font-size: 90px;
  font-family: digital-7;
  width: 97%;
}
.keypad {

}
.keypad button {
  margin: 5px;
    width: 62px;
    height: 53px;
    background: none;
    color: white;
    border: none;
    font-size: 24px;
    box-shadow: inset rgba(255, 255, 255, 0.1) 0px 1px 0px, inset rgba(0, 0, 0, 0.2) 0px -2px 2px;
}
.keypad button:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.mhn-ui-page.page-contact .header {
    z-index: 555;
    margin-bottom: 40px;
    position: absolute;
    right: -23px;
    top: 0px;
}
.material-icons img{
  width: 28px;
    color: white;
    vertical-align: top;
}
.site{
  background: none!important;
}
